@model AnotaCar.Models.Abastecimento

@{
    ViewData["Title"] = "Excluir";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <h4>Abastecimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posto.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odometro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odometro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLitro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLitro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanqueCheio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanqueCheio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar á listagem</a>
    </form>
</div>
